pandas
numpy
matplotlib
pyarrow
scikit-learn
jupyter
fastapi
uvicorn[standard]
python-dotenv
pydantic
langchain
langchain-google-genai
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
langgraph
pypdf
sentence-transformers