/* ----------------------------
    COLORES DE LA APP
----------------------------- */
:root {
    --color-orange: #E49D69;
    --color-blue: #7EC9FF;
    --color-white: #F2F2F0;
    --color-white-opacity: rgba(242, 242, 240, 0.1);
    --color-red: #D96C6C;
    --color-green: #7EAD8B;
    --color-dark: #2B3133;
    --color-dark-opacity: rgba(43, 49, 51, 0.55);
    --color-grey: #B8BCBB;
}