@import '@fortawesome/fontawesome-free/css/all.min.css';
@import url(color.scss);

@font-face 
{
  font-family: 'Oswald';
  src: url(/assets/fonts/Oswald-VariableFont_wght.ttf) format('truetype');
}

@font-face 
{
  font-family: 'Quattricento';
  src: url(/assets/fonts/Quattrocento-Regular.ttf) format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  font-family: Oswald;
  color: var(--color-orange);
}

p, div, li {
  font-family: Quattricento;
  color: var(--color-white);
  font-size: .875rem;
  line-height: 1.5;
}

ul {
  padding-left: 1rem;
}

app-footer-datos {
  grid-column: span 4;
}

.header {
  grid-column: span 4;
  display: flex;
  gap: 1.5rem;
  justify-content: end;
  align-items: center;
}

.kpi-card {
  background: var(--color-dark-opacity);
  box-shadow: inset 0 0 12px var(--color-dark);
  border-radius: .5rem;
  padding: 16px 1.25rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: .25rem;
  justify-content: center;
  align-items: center;
  
  .kpi-label {
    font-size: 0.875rem;
    color: var(--color-grey);
  }

  .kpi-value {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--color-white);
  }
}

.chart-block {
  background: var(--color-dark-opacity);
  box-shadow: inset 0 0 12px var(--color-dark);
  border-radius: .5rem;
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: .0625rem;
  position: relative;
  height: 100%;
}

.chart-canvas-wrapper {
  position: relative;
  height: calc(100% - 32px);
  width: 100%;
}